@import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  font-family: "Roboto", sans-serif;
} */

body {
  background: no-repeat center url("../../../public/dark-background.jpeg");
  background-position: bottom;
  background-size: cover;
/*   color: white;
  .decorated-text {
    font-family: "Twinkle Star", cursive;
  } */
}

/* form {
    width: 50vw;
    height: 40vh;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 2em;
} */
